.image{
    width:100px ;
    height: 80px;
    padding: 10px;
    border-color:yellow ;
}
.custmo-nav-link{
    color: #323f4b;
    font-family:'Roboto' ;
    font-size: 25px;
}
#navitem1{
    color: #323f4b;
    font-family:'Roboto' ;
}
#navitem2{
    color: #323f4b;
    font-family:'Roboto' ;
}
#navitem3{
    color: #323f4b;
    font-family:'Roboto' ;
}
#navitem4{
    color: #323f4b;
    font-family:'Roboto' ;
}
.banner-section-bg-container{
    height: 100vh;
    background-image:url('https://img.freepik.com/free-photo/creative-italian-food-concept-with-space-middle_23-2147686534.jpg?w=740&t=st=1706670179~exp=1706670779~hmac=3d18f160f9b79b39456b750ba2854944031d194032c370328f0de0c58dffe670');
    background-size:cover ;
}
.banner-heading{
    color:white;
    font-family:'Roboto' ;
    font-size: 45px;
    font-weight:300 ;

}
.banner-caption{
    color:#f5f7fa;
    font-family:'Roboto' ;
    font-size: 24px;
    font-weight:300 ;
    
}
.custmo-button{
    width: 130px;
    height: 45px;
    color:#f5f7fa;
    background-color: #d0b200;
    border-width:0 ;
    border-radius:8px ;
    margin-right: 10px;
}
.custmo-button-outline{
    width: 130px;
    height: 45px;
    color:#d0b200;
    background-color:transparent;
    border-width:1px ;
    border-style: solid;
    border-color: #d0b200;
    border-radius:8px ;
}
.wuc-section{
    background-color: #f9fbfe;

}
.wcu-heading{
    font-family: 'Roboto';
    font-weight:700 ;
    font-size:28px ;
    color:#183b56;
}
.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
.wcu-card{
    background-color: white;
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius:16px ;
}
.wuc-card-image{
    height:90px ;
    width:87px;
   
}
.wcu-card-heading{
    font-family:'Roboto' ;
    font-weight:500 ;
    font-size:22px ;
    color:#323f4b;
}
.wcu-card-description{
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
  }
  .wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
  }
.offers {
  color: #323f4b;
  font-style: italic;
  font-weight: 600;
}
.explore-menu-section{
    background-color: white;
}
.menu-section-heading{
    font-family: 'Roboto';
    font-weight:700 ;
    font-size: 28px;
    color:#183b56;
}
.menu-item-image{
    border-radius:16px;
    width:290px;
    height:304px;
}
.menu-card-title{
    color:#323f4b;
    font-family:'Roboto' ;
    font-weight: 500;
    font-size:18px ;
    margin-top: 24px;
}
.menu-item-link{
    color:#d0b200;
    font-family:'Roboto';
    font-weight:500 ;
    font-size: 18px;

}
.menu-item-card{
    border-radius:16px ;
    padding: 20px;
}
.custmo-button{
    color:#ffffff;
    border-radius:10px ;
    border-width:0 ;
    background-color:yellowgreen ;
}
.payment-image{
    width:600px;
    height:290px;
}
.payment-description{
    color:black;
    font-size:23px ;
    font-family:'Roboto' ;
    padding:8px ;
}
.p-image{
    width:100px;
    height:80px;
    margin-right:29px ;
}
.heading-follow{
    color:blue;
    font-family: 'Roboto';
    font-size:25px ;


}
.icon{
    color:#d0b200;
    font-size: 55px;

}
.follow-icon-container{
    width: 80px;
    height: 80px;
  background-color:black;
  padding: 15px;
  margin: 15px ;

border-radius:40px ;
    
}
.follow-us-section{
    background-color: antiquewhite;
}
.healthy-food-section {
    background-color: #f9fbfe;
  }
 .food-image{
    width:400px;
    height: 250px;
 }
 .custom-button {
    color: white;
    background-color:yellowgreen;
    width: 150px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }